<md-bottom-sheet layout="column" ng-cloak class="comment-popup md-whiteframe-4dp"
                 ng-class="{xs: commentCtrl.parent.$mdMedia('xs'), sm: commentCtrl.parent.$mdMedia('sm'),
                 md: commentCtrl.parent.$mdMedia('md'), lg: commentCtrl.parent.$mdMedia('lg')}">
    <div class=" md-toolbar-tools" layout="row">
        <md-subheader>
            Reply to {{commentCtrl.parent.replyTo}}
        </md-subheader>
        <span flex></span>
        <md-button ng-click="commentCtrl.parent.hideBottomSheet()">
            <md-icon>cancel</md-icon>
        </md-button>
    </div>
    <form name="reply_form">
        <md-input-container ng-if="!commentCtrl.parent.current_user">
            <label>Name</label>
            <md-icon>person</md-icon>
            <input ng-model="commentCtrl.parent.reply.author_name" name="name" required>
            <div ng-messages="reply_form.name.$error">
                <div ng-message="required">This is required</div>
            </div>
        </md-input-container>
        <md-input-container ng-if="!commentCtrl.parent.current_user">
            <label>Email</label>
            <md-icon>email</md-icon>
            <input ng-model="commentCtrl.parent.reply.author_email" name="email" type="email" ng-pattern="/^.+@.+\..+$/"
                   required>
            <div ng-messages="reply_form.email.$error">
                <div ng-message="required">This is required</div>
                <div ng-message="pattern">This is not an email</div>
            </div>
        </md-input-container>
        <md-input-container ng-if="!commentCtrl.parent.current_user">
            <label>URL</label>
            <md-icon>link</md-icon>
            <input ng-model="commentCtrl.parent.reply.author_url" name="url">
        </md-input-container>
        <section class="reply-user" ng-if="commentCtrl.parent.current_user" layout="row" ng-init="">
            <img ng-src="{{commentCtrl.parent.current_user.avatar_urls['48']}}" class="reply-avatar">
            Comment as &nbsp;<strong>{{commentCtrl.parent.current_user.name}}</strong>
        </section>
        <md-input-container class="md-block">
            <label>Content</label>
            <md-icon>subject</md-icon>
            <textarea ng-model="commentCtrl.parent.reply.content" rows="10" name="content" required></textarea>
            <div ng-messages="reply_form.content.$error">
                <div ng-message="required">This is required</div>
            </div>
        </md-input-container>
        <md-button ng-disabled="reply_form.$invalid" ng-click="commentCtrl.parent.post_comment()">submit</md-button>
    </form>
</md-bottom-sheet>