<md-content layout="column">
    <md-card ng-repeat="post in posts" layout="row" layout-xs="column"
             ng-class="{xs: $mdMedia('xs'),sm: $mdMedia('sm'), md: $mdMedia('md'), lg: $mdMedia('lg')}">
        <div class="md-card-image-wrapper" ng-if="post.featured_media!=0">
            <img class="md-card-image w320h320"
                 ng-src="{{post.post_thumbnail.media_details.sizes.w320h320.source_url}}">
        </div>
        <div flex layout="column">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" ng-bind-html="post.title.rendered"></span>
                </md-card-title-text>
            </md-card-title>
            <div class="md-chips-wrapper">
                <md-chips ng-model="post.tags" readonly="true">
                    <md-chip-template>
                        <a ng-href="{{tags[$chip].link}}">{{tags[$chip].name}}</a>
                    </md-chip-template>
                </md-chips>
            </div>
            <md-card-content ng-bind-html="post.excerpt.rendered">
            </md-card-content>
            <span flex></span>
            <md-card-actions layout="row" layout-wrap>
                <md-button>
                    <md-icon>bookmark</md-icon>
                    {{post.format}}
                </md-button>
                <md-button ng-href="{{cats[post.categories[0]].link}}">
                    <md-icon>label</md-icon>
                    {{cats[post.categories[0]].name}}
                </md-button>
                <md-button ng-href="{{post.link}}">
                    <md-icon>update</md-icon>
                    {{post.modified}}
                </md-button>
                <md-button>
                    <md-icon>comment</md-icon>
                    {{post.comment_count}} comment
                </md-button>
                <span flex></span>
                <md-button ng-href="{{post.link}}">
                    Continue Reading
                    <md-icon>expand_more</md-icon>
                </md-button>
            </md-card-actions>
        </div>
    </md-card>
    <section layout="row" ng-if="totalPage!=undefined" class="paging">
        <md-button flex ng-href="{{pageLink.first}}" ng-disabled="currentPage==1">
            <md-icon>first_page</md-icon>
        </md-button>
        <md-button flex ng-href="{{pageLink.prev}}" ng-disabled="currentPage==1">
            <md-icon>chevron_left</md-icon>
        </md-button>
        <md-button ng-click="angular.noop" flex>
            page {{currentPage}} of {{totalPage}}
        </md-button>
        <md-button flex ng-href="{{pageLink.next}}" ng-disabled="currentPage==totalPage">
            <md-icon>chevron_right</md-icon>
        </md-button>
        <md-button flex ng-href="{{pageLink.last}}" ng-disabled="currentPage==totalPage">
            <md-icon>last_page</md-icon>
        </md-button>
    </section>
</md-content>